footer {
    background-color: black;
    padding-top: 100px;

    .suscribe {
        color: #FE4240;
        padding-bottom: 1%;
    }

    .inputsuscribe {
        padding-bottom: 1%;
    }

    .tableau {
        padding-bottom: 1%;
    }

    .cine1 {
        color: white;
    }

    .cine2 {
        color: #FE4240;
    }

    h4 {
        font-family: "arial";
        color: white;
    }

    .btag {
        background-color: #242424;
        color: white;
        line-height: 30px;
        padding: 3px 8px;

        &:hover {
            background-color: #FE4240;
            color: white;
            text-decoration: none;
        }
    }

    .releases {
        color: dimgray;

        &:hover {
            color: white;
            text-decoration: none;
        }
    }

    .movies {
        color: dimgray;

        &:hover {
            color: white;
            text-decoration: none;
        }
    }

    .img1 {
        width: 90px;
        height: 100px;
        object-fit: cover;
    }

    .titlemov {
        color: grey;
        text-align: left;
    }

    .img2 {
        width: 130px;
        height: 180px;
    }

    hr {
        border: 1px solid #4C5155;
        border-right: none;
        border-left: none;
    }

    .hrespace {
        padding: 30px;
    }

    .connectus {
        color: white;
        margin:auto;
        margin-bottom:15px;
    }

    .spanm {
        margin: 5%;
    }

    img{
        height: 30px;
        width: 30px;
        
    }

    a.cInvisible{
        border-radius:50%;
        border: 5px solid white;
        }
}