$search-radius:25px;
$header-nav-padding-top: 13px;
$header-nav-padding-left: 6px;
$carousel-position:38%;

header{
    .title{
        font-size:55px;
        font-weight: 900;
        transform: scaleY(1.1)
    }
    .nav-block{
        a{
            display:block;
        }
    }
    .carousel-caption{
        top:$carousel-position;
        line-height: 40px;
        p{
            font-weight: 300;
        }
        h2{
            letter-spacing: 2px;
            font-size:58px;
            font-weight: 700;
            transform:scaleX(1.1)
        }
    }
    .carousel-indicators{
        top:$carousel-position + 29%;
        li{
            transform: scale(1.1,1.4);
            margin-right:20px;
            opacity: 0.8;
        }
        .active{
            background-color:red;
        }
    }
    .carousel-item{
        img{
            height: 700px;
        }
    }
    .opa{
        filter: brightness(0.2);
    }
    .i-search{
        background-color:#0007;
        border:none;
        color:white;
        &::placeholder{
            color:white;
        }
    }
    .nav-contact{
<<<<<<< HEAD
        margin-left:8vw;
=======
        margin-left:8vw !important;
>>>>>>> corentin
    }
    .navbar {
        .navbar-decal{
            margin-bottom:40px;
        }
        .round-left{
            border-radius: $search-radius 0px 0px $search-radius;
        }
        .round-right{
            border-radius: 0px $search-radius $search-radius 0px;
        }
        .space-left{
            padding-left:35px;
        }
        background-color: transparent;
        border-color: #E7E7E7;
        position: absolute;
        .navbar-toggler{
            border-color: white !important;
        }
        .navbar-light .navbar-toggler-icon{
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
    }
    .nav-item{
        *{
            font-size:15px !important;  
        }     
    }
    .d-block{
        min-height: 500px;
        object-fit: cover;
        background-size: cover;
    }
    .bg-light{
        background-color: none !important;
    }
    .btn{
        border-radius: 0px;
    }
    .bout-search{
        border-radius: 10px;
        filter: opacity(0.6);
    }
    .btn-red{
        background-color:$rose;
        color:white;
    }
    .navbar-light .navbar-nav .nav-link{
        color: white;
    }
    .navbar-nav{
        padding-left:4vw;
    }
    .btn-black{
        background-color:black;
    }

    .connect{
        bottom:0%;
        color:white;
        background-color:$rose;
        width: 100%;
        padding:10px;
        p{
            margin:auto 30px;
        }
        .btn{
            z-index: 15;
            margin-right:10px;
        }
        .fa-phone-alt{
            margin-right:10px;
        }
    }
    .stick-letter{
        letter-spacing: 1px;
    }
    nav{
        .adjust-padding{
            padding-top:$header-nav-padding-top;
        }
        .dropdown{
            button{
<<<<<<< HEAD
                background-color:#76767665;
=======
                background-color:#ffffff29;
>>>>>>> corentin
                padding:$header-nav-padding-top $header-nav-padding-left * 1.5 $header-nav-padding-top $header-nav-padding-left;
                text-transform: uppercase;
                color:white;
                margin-left:5px;
                i{
                    margin-left:8px;
                    display: inline;
                }
            }
            .dropdown-menu{
                border-radius:0;
                padding:0;
                margin:0;
                .dropdown-item{
                    padding:0px 10px;
                    a{
                        color:black;
                    }
                }
            }
        }
        
        width:100%;
        top:0%;
<<<<<<< HEAD
        padding:25px !important;
=======
        padding:25px 3vw !important;
>>>>>>> corentin
        z-index: 2;
        
        color:white;
    }
}
