@import "_typo.scss";
@import "_config.scss";
@import "_normalize.scss";

body {
    overflow: hidden;
}

footer {
    background-color: black;
    padding-top: 100px;
    
    .suscribe {
        color: red;
        padding-bottom: 1%;
    }
    .tableau {
        padding-bottom: 3%;
    }
    span.cine1 {
        color: white;
    }
    span.cine2 {
        color: red;
    }
    h4 {
        font-family: "arial";
        color: white;
    }
    p {
        color: grey;
    }
    
    .btag {
        background-color: dimgray;
        color: white;
        line-height: 30px;
        padding: 3px;
        border-radius: 10%;
        &:hover{
            background-color: red;
            color: white;
            text-decoration: none;
        }
    }
    .releases {
        color: dimgray;
        &:hover{
            color: white;
            text-decoration: none;
        }
    }
    .movies {
        color: dimgray;
        &:hover{
            color: white;
            text-decoration: none;
        }
    }

    .img1 {
        width: 80px;
        height: 65px;
        object-fit: cover;
    }

    .img2 {
        width: 80px;
        height: 100px;
    }

    .colorlinetable {
        border: 5px solid red;
        color: blue;
    }

    hr{
        border: 1px solid grey;
        border-right: none;
        border-left: none;
    }
    .hrespace {
        padding: 2%;
    }
    
}