footer {
  background-color: black;
  padding-top: 100px;
}

footer .suscribe {
  color: #FE4240;
  padding-bottom: 1%;
}

footer .inputsuscribe {
  padding-bottom: 1%;
}

footer .tableau {
  padding-bottom: 3%;
}

footer .cine1 {
  color: white;
}

footer .cine2 {
  color: #FE4240;
}

footer h4 {
  font-family: "arial";
  color: white;
}

footer .btag {
  background-color: dimgray;
  color: white;
  line-height: 30px;
  padding: 3px;
  border-radius: 10%;
}

footer .btag:hover {
  background-color: #FE4240;
  color: white;
  text-decoration: none;
}

footer .releases {
  color: dimgray;
}

footer .releases:hover {
  color: white;
  text-decoration: none;
}

footer .movies {
  color: dimgray;
}

footer .movies:hover {
  color: white;
  text-decoration: none;
}

footer .img1 {
  width: 80px;
  height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer .titlemov {
  color: grey;
  text-align: left;
}

footer .img2 {
  width: 75px;
  height: 110px;
}

footer hr {
  border: 1px solid #4C5155;
  border-right: none;
  border-left: none;
}

footer .hrespace {
  padding: 2%;
}

footer .connectus {
  color: white;
  margin-left: 140px;
}

footer .spanm {
  margin: 5%;
}

footer img {
  height: 30px;
  width: 30px;
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid white;
}

footer a.cInvisible {
  border-radius: 50%;
  border: 5px solid white;
}
