@charset "UTF-8";
.ligne {
  border-left: 4px solid #FE4240;
  padding-left: 12px;
  left: 30px;
  position: relative;
}

body {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.title {
  font-family: 'Hind', sans-serif;
}

.title-center {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  margin: 0px !important;
}

h2 {
  font-size: 2.5em;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  font-weight: 500;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

.carousel p {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1em;
}

a {
  text-decoration: none;
}

a:hover {
  color: #8c1313 !important;
}

.title-red {
  color: #FE4240;
}

html {
  overflow-x: none;
}

.container__center {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section {
  margin: 40px 0;
}

.card {
  color: #4C5155;
}

.card * {
  border: none;
}

.card .title {
  font-weight: bold;
}

.card .btn-hover {
  background-color: white;
  border: none;
}

.card .btn-hover:hover {
  opacity: 0.7;
  background-color: white;
}

.card .card__name {
  text-align: center;
}

.card .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.card .card__genre {
  -ms-grid-column: 2;
  grid-column: 2;
  text-align: right;
}

.card .card__years {
  -ms-grid-column: 1;
  grid-column: 1;
}

.card .gras {
  font-weight: bold;
}

.nav .nav-link {
  background-color: #DCDCDC;
  color: black;
  border: 0px;
  border-radius: 0px;
}

.nav .nav-link.active, .nav .nav-pills .show > .nav-link {
  background-color: #FE4240;
  color: white;
}

.btn-plus {
  background-color: #FE4240;
  border-radius: 0px;
  border: 0px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-transform: uppercase;
}

header .nav-block a {
  display: block;
}

header .carousel-caption {
  top: 50%;
}

header .carousel-indicators {
  top: 75%;
}

header .carousel-indicators li {
  -webkit-transform: scale(1.1, 1.4);
          transform: scale(1.1, 1.4);
  margin-right: 20px;
  opacity: 0.8;
}

header .carousel-indicators .active {
  background-color: red;
}

header .carousel-item img {
  height: 640px;
}

header .opa {
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
}

header .i-search {
  background-color: #474747;
  color: white;
}

header .navbar {
  background-color: transparent;
  border-color: #E7E7E7;
  position: absolute;
}

header .navbar .navbar-toggler {
  border-color: white !important;
}

header .navbar .navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

header .d-block {
  min-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}

header .bg-light {
  background-color: none !important;
}

header .btn {
  border-radius: 0px;
}

header .bout-search {
  border-radius: 10px;
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
}

header .btn-red {
  background-color: #FE4240;
  color: white;
}

header .navbar-light .navbar-nav .nav-link {
  color: white;
}

header .btn-black {
  background-color: black;
}

header .connect {
  bottom: 0%;
  color: white;
  background-color: #FE4240;
  width: 100%;
  padding: 10px;
}

header .connect p {
  margin: auto 30px;
}

header .connect .btn {
  z-index: 15;
  margin-right: 10px;
}

header .connect .fa-phone-alt {
  margin-right: 10px;
}

header nav {
  width: 100%;
  top: 0%;
  padding: 2% 3%;
  z-index: 2;
  color: white;
}

header nav .dropdown button {
  background-color: #0004;
  color: white;
  border-radius: 0;
  margin-left: 10px;
}

header nav .dropdown .dropdown-menu {
  border-radius: 0;
  padding: 0;
  margin: 0;
}

header nav .dropdown .dropdown-menu .dropdown-item {
  padding: 0px 10px;
}

header nav .dropdown .dropdown-menu .dropdown-item a {
  color: black;
}

.formulary {
  background-color: #c8c8c8;
}

.formulary form {
  padding: 50px;
  margin: 50px auto;
  background-color: #e8e8e8;
}

.cookie-request {
  position: fixed;
  bottom: -100%;
  right: 0%;
  background-color: #f4f4f4;
  /*
    Fait en sorte a ce que le cookie sois tout au dessus 
    de tout les autre élément visuellement et PHYSIQUEMENT
    Le z-index va de : -infini a infini

    Mais techniquement pour la limite d'un pc actuelle :
    -9 223 372 036 854 775 807 a 9 223 372 036 854 775 807

    Sois -(pow(2,63)-1) a (pow(2,63)-1)

    Sois la capacité maximale d'un nombre négatif et positif
    Sois un nombre appelé réel
    Ce qui fait la capacité maximale d'un ordinateur de 64 bits

    Pour plus d'information : 
    Rubrique : Représentation des entiers signés
    https://fr.wikibooks.org/wiki/Programmation_C/Types_de_base
    */
  z-index: 40;
  padding: 20px;
  width: 35%;
  border-radius: 10px 0px 0px 0px;
  border-top: 5px solid #c1c1c1;
  border-left: 5px solid #c1c1c1;
}

.cookie-anim {
  /*
    J'ai essayé avec des transition mais quand on rafraichissait 
    beaucoups ça fesait bugué la page
    */
  -webkit-animation: anim-up 1.2s ease-out;
          animation: anim-up 1.2s ease-out;
  bottom: 0%;
}

.cookie-anim-down {
  /*
    Appelle l'animation anim-down qui consiste a caché le cookie. 
    On retire l'anim anim-up a l'appelle
    */
  -webkit-animation: anim-down 1.2s ease-out;
          animation: anim-down 1.2s ease-out;
}

@-webkit-keyframes anim-up {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0%;
  }
}

@keyframes anim-up {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0%;
  }
}

@-webkit-keyframes anim-down {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: -100%;
  }
}

@keyframes anim-down {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: -100%;
  }
}

.no-underline {
  text-decoration: none;
}

.no-underline:hover {
  text-decoration: none;
}

* {
  font-family: 'Roboto', sans-serif;
}
/*# sourceMappingURL=style.css.map */